<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LargestSmallest</title>
</head>
<body>
    <form name="frmLargestSmallest" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Number-1</td>
                <td><input type="text" name="txtno1" placeholder="Enter Number" required></td>
            </tr>
            <tr>
                <td>Number-2</td>
                <td><input type="text" name="txtno2" placeholder="Enter Number" required></td>
            </tr>
            <tr>
                <td>Number-3</td>
                <td><input type="text" name="txtno3" placeholder="Enter Number" required></td>
            </tr>
            <tr>
                
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Submit">
                </td>
            </tr>
            <tr>
                <td>Largest</td>
                <td>{{large}}</td>
            </tr>
            <tr>
                <td>Smallest</td>
                <td>{{small}}</td>
            </tr>
                
        </table>
    </form>
    
</body>
</html>