<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>

<table border="1">
    <tr>
        <td colspan="2" align="center"><strong>Change Password</strong></td>
    </tr>
    <tr>
        <td>Current Password:</td>
        <td><input type="password" name="current_password"></td>
    </tr>
    <tr>
        <td>New Password:</td>
        <td><input type="password" name="new_password"></td>
    </tr>
    <tr>
        <td>Re-enter Password:</td>
        <td><input type="password" name="reenter_password"></td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="Submit" value="Save">
            <input type="button" value="Cancel">
        </td>
    </tr>
</table>

</body>
</html>

