<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Details</title>
</head>
<body>
    <h2>USER PROFILE DETAILS</h2>
<div id="profile-container">
    <table border="1">
        <tr>
            <td colspan="2" align="center"><img id="profile-img" src="{{user.user_photo.url}}" width="200" height="200" alt="Profile Picture"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{user.user_name}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{user.user_email}}</td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>{{user.user_contact}}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{user.user_address}}</td>
        </tr>
        <tr>
            <th>Bio</th>
            <td>{{user.user_bio}}</td>
        </tr>
    </table>
</div>

</body>
</html>
